<!-- _includes/header.html -->
<header class="site-header">
    <nav class="navbar">
      <ul class="nav">
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li class="dropdown">
          <a href="{{ "/portfolio/" | relative_url }}">Portfolio</a>
          <ul class="dropdown-menu">
            {% for item in site.portfolio %}
              <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!-- Add other navigation links here -->
      </ul>
    </nav>
  </header>