---
layout: none
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include head.html %}
    <style>
        .masthead {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }
        .sidebar {
            position: fixed;
            left: 0;
            top: 70px;
            width: 300px;
            height: calc(100vh - 70px);
        }
        .content-wrapper {
            margin-left: 300px;
            margin-top: 70px;
            width: calc(100% - 300px);
        }
    </style>
</head>
<body>
    {% include masthead.html %}
    {% include sidebar.html %}
    <div class="content-wrapper">
        {{ content }}
    </div>
</body>
</html>