---
layout: single
classes: wide
---

{% include masthead.html %}

<div id="main" class="layout--single">
  {% if page.author_profile or layout.author_profile or site.author_profile %}
    {% include sidebar.html %}
  {% endif %}

  <article class="page portfolio__page" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="page__inner-wrap">
      <div class="page__content" itemprop="text">
        {{ content }}
      </div>
    </div>
  </article>
</div>

<style>
.page__content {
  float: right;
  width: calc(100% - 300px);
  padding-right: 0;
  margin-right: 0;
}

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  width: 300px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

#main {
  margin-top: 70px;
}

.toc {
  position: sticky;
  top: 80px;
  right: 0;
  z-index: 99;
}

@media screen and (max-width: 1024px) {
  .page__content {
    width: calc(100% - 250px);
  }
  
  .sidebar {
    width: 250px;
  }
}
</style>