---
layout: default
---

<div class="masthead">
  {% include masthead.html %}
</div>

<div class="wrapper">
  {% if page.author_profile or layout.author_profile or site.author_profile %}
    <div class="sidebar sticky">
      {% include sidebar.html %}
    </div>
  {% endif %}

  <div class="page__content-wrapper">
    {% include toc %}
    
    <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
      <div class="page__inner-wrap">
        <div class="page__content" itemprop="text">
          {{ content }}
        </div>
      </div>
    </article>
  </div>
</div>

<style>
.wrapper {
  display: flex;
  margin-top: 70px;
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

.sidebar.sticky {
  position: fixed;
  left: 0;
  top: 70px;
  width: 300px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.page__content-wrapper {
  margin-left: 300px;
  width: calc(100% - 300px);
  padding: 20px;
}

.page__content {
  width: 100%;
}

.toc {
  position: sticky;
  top: 80px;
  right: 20px;
  width: 200px;
  z-index: 99;
}

@media screen and (max-width: 1024px) {
  .sidebar.sticky {
    width: 250px;
  }
  
  .page__content-wrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
</style>